/* Used Universal Selector to remove browsers default padding and margin */
*{
  box-sizing: border-box; /* for a more predictable layout as the width and height for each element will include padding and 
  border , it removes extra spacing around elements making layout consistent .. 
  without this padding and borders would make elemnts bigger than the width and height you set */
  margin: 0;
  padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fef3e2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .counter {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-linear-gradient(45deg, #f74545 25%, transparent 25%, transparent 75%, #f74545 75%, #f74545), repeating-linear-gradient(45deg, #f74545 25%, #e5e5f7 25%, #e5e5f7 75%, #f74545 75%, #f74545);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    padding: 80px;
    border-radius: 10px;
    width: 80%;
    
    /* removed position relative this created 
     a reference point for the child element with
     position absolute was no longer necessary 
     as i allowed flex box to handle the layout */
    
    display: flex; 
     
    /* this is a layout tool that allows us to arrange
    items in the container to be in rows or columns in this case rows additionally 
    allowing us to define the alignment and spacing around the elements 
    */
    
    justify-content: space-around; 
    
    /*controls horizontal alignment by 
    spacing items evenly with space around them horizontally */
    
    align-items: center; 
    
    /*controls vertical alignment by 
    vertically centering the elements within the container*/
  }
  
  .pastry {
    color: #533117;
    padding: 20px;
    border-radius: 50%;
    font-size: 18px;
    
    /* Identified the bug which was position absolute ..
     this was placing the pastry elements in specific positions preventing 
     the flex box to handle the layout of aligning the items in a row and spacing them evenly */
    
  }
  
  .pastry img {
    width: 50px;
    height: 50px;
  }
  
  .pastry1 { /* Cookie */
    top: 0;
    left: 0;
    background-color: #f0bb7f; 
    
  }
  
  .pastry2 { /* Brownie */
    top: 0;
    right: 0;
    background-color: #7f553f; 
  }
  
  .pastry3 { /* Cupcake */
    bottom: 0;
    left: 0;
    background-color: #f0a8be; 
  }
  
  .pastry4 { /* Jelly Roll */
    bottom: 0;
    right: 0;
    background-color: #7fa8f0; 
  }